<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node authentication with jason web tokens | miastudiosinc</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">Mia Smoothies</a></h1>
    <ul>
      <% if(user) { %>
      <li><%= user.email %> </li>
      <li><a href="/logout">log out</a></li>
      <% } else { %>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/signup" class="btn">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>